<div class="pull-left">
  <form class="pure-form globalSearch" action="">
    <div class="form-group">
      <label>{{messages.searchLabel}}</label> {{input type="text" value=filterString}}
    </div>
  </form>
</div>
